
<div ng-show="!thisUser.name" class ="login-section">
	<div class ="welcome-message">
		Welcome to <span class= "welcome-dev-mountain">DevMountain</span> Social<br/>
		Add Some Info So Friends Can Find You
	</div>
	<input type="text" class ="input" ng-model="name" placeholder = "Full Name">
	<input type="text" class ="input" ng-model="tagline" placeholder = "Tagline">
	<input type="text" class ="input" ng-model="profileimage" placeholder = "Profile Image Url">
	<input type="text" class="bio-input" ng-model="bio" placeholder ="Bio">
	<br/>
	<button class ="changes-button" ng-click="userAdd()">Save Changes</button>
</div>

<div ng-show="thisUser.name" class ="users-info">
	<div class = "users-name">
		<h1>{{thisUser.name}}</h1>
	</div>
	<div class = "users-tagline">
		{{thisUser.tagline}}
	</div>
	<div class = "users-bio">
		{{thisUser.bio}}
	</div>
	{{thisUser.profileimage}}
</div>




<div class ="triangle-containers">
	<div class ="wrap">
		<div class="crop">
			<img src="https://www.w3schools.com/w3images/fjords.jpg">
		</div>
	</div>
</div>
