<div class = "main-images-container">
  <input type="text" ng-model="filterFriend" placeholder="Search For Friends">
    <div class ="thumbnail-container">
        <div ng-repeat = "user in userData | filter:filterFriend">
        <!-- Name: {{user.name}} -->
        <!-- <br/>
        Tagline: {{user.tagline}} -->
        <!-- <br/> -->
        <img src="{{user.profileimage}}" id="{{name}}" ng-click='test($event)'>
        <!-- <br/>
        Bio: {{user.bio}} -->
      </div>
    </div>
</div>
